<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-form-field style="width: 200px;box-sizing: border-box;">
      <mat-select placeholder="Sort By Name" [formControl]="sortBy">
        <mat-option *ngFor="let item of sortByList" (click)="SortBy(item)" [value]="item.value">{{item.viewValue | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>&nbsp;&nbsp;
    <div class="search-bar">
      <form class="search-form" novalidate>
        <mat-icon>search</mat-icon>
        <input [formControl]="searchCtrl" id="searchInput" placeholder="Search for anything here" type=search>
      </form>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<span>
  <span style="margin: 3rem;padding-top: 50px;">
    Totol Results : {{totalValue ? totalValue : 0}}
  </span>
  <mat-list *ngFor="let item of allUsers | orderBy : sortElementBy;">
    <mat-card style="margin: 1rem 3rem 1rem 3rem;">
      <mat-icon>
        <img src="{{item.avatar_url}}" style="width: 100px;height: 100px;border-radius: 50%;">
      </mat-icon>
      <mat-list-item>
        <h4 mat-line>
          <b>User Name :</b>{{item.login}}
        </h4>
        <h4 mat-line>
          <b>Profile Url :</b> {{item.html_url}}
        </h4>
      </mat-list-item>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel hideToggle=true>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button (click)="viewDetails(item.login)" mat-button color="primary">Details</button>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list *ngFor="let item of allRepro">
            <hr>
            <mat-list-item>
              <h4 mat-line>
                <b>Name :</b>{{item.name}}
              </h4>
              <h4 mat-line>
                <b>Repository Url :</b> {{item.html_url}}
              </h4>
              <h4 mat-line>
                <b> Fork : </b>{{item.forks_count}}
              </h4>
              <h4 mat-line>
                <b> Watchers :</b> {{item.watchers}}
              </h4>
              <h4 mat-line>
                <b> Open Issues :</b> {{item.open_issues_count}}
              </h4>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- <button mat-button color="primary">Details</button>
      <button mat-button color="primary">Collapse</button> -->
    </mat-card>
  </mat-list>
</span>